
/* Tells EVERY Element to Not Have Any Margin Border */
/* The '*' symbol effects all elements, values, ids and classes and is called the Universal Selector or 'Wildcard' */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Changes the <body> Property' Value for Styling Purposes */
body {
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

/* Apply Style Values to the Property Called <header> */
header {
    background-color: #39a6b2;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    /* 'text-decoration: none' removes undreline on html <a> links */
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    /* margin: 7px(top/bottom) 0 (left and right); */
    margin: 7px 0;
}

/* Make the Path Element/Value Inline w/ One Another Horizontally */
header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* Apply Style Values to the Property Called <footer> */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    /* or line spacing */
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}